body {
  background: linear-gradient(to top, #3c006b, #9948d9);
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: fit-content;
  border-radius: 10px;
}
